form {
    font-size: 1.5em;
}

form input[type="email"],form input[type="password"] {
    padding:1rem !important;
    font-size: 1.5rem !important;
}
form input[type="email"]:focus,form input[type="password"]:focus,input[type="checkbox"]:focus,form input:focus,form textarea:focus{
    border-color: var( --yellow );
        box-shadow: 0 0 0 0.25rem var(--light-yellow);

}

form input[type="checkbox"] {
    box-shadow : none ;
    border-color : none !important;
}
form input[type="checkbox"]:checked {
    background-color: var( --yellow);
    border-color: var( --yellow );
    box-shadow: 0 0 0 0.25rem var(--light-yellow);
}

.modal-dialog {
    width: 90% !important;
    margin: 25px auto !important;
}